/* Write your CSS here */
.bg-container {
  background-color: #ffd569;
  padding: 50px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-container {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  height: 90vh;
  width: 70vw;
}
.heading {
  font-family: 'Roboto';
  font-size: 30px;
  text-align: center;
}
.numbers {
  color: #ffd569;
}
.fruits-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.fruit-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image {
  height: 400px;
  width: 400px;
}
.button {
  height: 25px;
  width: 75px;
  background-color: #007bff;
  color: #ffffff;
  margin-top: 25px;
  font-family: 'Roboto';
  font-size: 10px;
  border-width: 0px;
  border-radius: 5px;
}
